/* 
Global tokens
-------------------------------------------------------------
Global tokens define global standards. Adjusting these variables
alters the holistic visual presentation of all components.
*/
.global {
  /* Animation */
  --animation-default: all 200ms ease-in-out;

  /* Border radius */
  --border-radius-base: 8px;
  --border-radius-half-x: calc(var(--border-radius-base) / 2);
  --border-radius-1-x: var(--border-radius-base);
  --border-radius-2-x: calc(var(--border-radius-base) * 2);

  /* Color */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-green-dark: #1a701a;
  --color-green-light: #279127;

  /* Focus */
  --focus-ring: 2px solid var(--color-green);
  --focus-offset-outside: 2px;
  --focus-offset-inside: -4px;

  /* Space */
  --space-base: 8px;
  --space-half-x: calc(var(--space-base) * 0.5);
  --space-1-x: var(--space-base);
  --space-1-and-half-x: calc(var(--space-base) * 1.5);
  --space-2-x: calc(var(--space-base) * 2);
  --space-3-x: calc(var(--space-base) * 3);
  --space-5-x: calc(var(--space-base) * 5);

  /* Typography */
  --font-family: system-ui, sans-serif;
  --font-size-base: 1rem;
  --font-size-three-quarter-x: calc(var(--font-size-base) * 0.75);
  --font-size-1-x: var(--font-size-base);
  --font-size-1-and-eighth-x: calc(var(--font-size-base) * 1.125);
  --font-size-1-and-half-x: calc(var(--font-size-base) * 1.5);
  --font-size-2-x: calc(var(--font-size-base) * 2);
  --font-size-3-x: calc(var(--font-size-base) * 3);
  --font-size-5-x: calc(var(--font-size-base) * 5);
}

/* 
Semantic tokens
-------------------------------------------------------------
Semantic tokens map global tokens to common use cases, like
background and text colors, or action colors/states.
*/
.semantic {
  --color-brand: var(--color-green-dark);
  --color-mode-background: var(--color-white);
  --color-mode-foreground: var(--color-black);

  /* Common colors */
  --background: var(--color-mode-background);
  --background-inverse: var(--color-mode-foreground);
  --foreground: var(--color-mode-foreground);
  --foreground-inverse: var(--color-mode-background);
  --border: color-mix(
    in srgb,
    var(--color-mode-foreground) 30%,
    var(--color-mode-background)
  );

  /* Action */
  --background-action: var(--color-brand);
  --background-action--hover: color-mix(
    in srgb,
    var(--color-mode-foreground) 30%,
    var(--color-brand)
  );
}

/* 
Themes
-------------------------------------------------------------
Themes modify global token values to create a specific visual
presentation, like light and dark mode.
*/
.light {
  --color-mode-background: var(--color-white);
  --color-mode-foreground: var(--color-black);
  --color-brand: var(--color-green-dark);
}

.light-sepia {
  --color-mode-background: #fff6dd;
  --color-mode-foreground: #1b1504;
}

.dark {
  --color-mode-background: var(--color-black);
  --color-mode-foreground: var(--color-white);
  --color-brand: var(--color-green-light);
}

/* 
Theme modifiers
-------------------------------------------------------------
Theme modifiers can be layered on to themes to achieve
alternate visual presentations, like a dense mode.
*/
.dense {
  --border-radius-base: 4px;
  --space-base: 4px;
  --font-size-base: 0.9rem;
}
