.dialog {
  --dialog-border: 1px solid var(--border);
  --dialog-border-radius: var(--border-radius-1-x);
  --dialog-padding: var(--space-2-x);
  --dialog-backdrop-background-color: color-mix(
    in srgb,
    var(--color-mode-foreground) 50%,
    transparent
  );

  inline-size: 100%;
  max-inline-size: 500px;
  border: var(--dialog-border);
  border-radius: var(--dialog-border-radius);
  padding: var(--dialog-padding);

  &::backdrop {
    background-color: var(--dialog-backdrop-background-color);
  }
}
