.disclosure {
  --disclosure-border: 1px solid var(--border);
  --disclosure-body-color: var(--color-mode-foreground);
  --disclosure-header-color: var(--color-mode-foreground);
  --disclosure-header-background-color: transparent;
  --disclosure-header-background-color--hover: color-mix(
    in srgb,
    var(--color-mode-foreground) 10%,
    var(--color-mode-background)
  );
  --disclosure-animation: var(--animation-default);
  --disclosure-header-font-size: var(--font-size-1-and-eighth-x);
  --disclosure-body-font-size: var(--font-size-1-x);
  --disclosure-padding: var(--space-2-x);
  --disclosure-border-radius: var(--border-radius-1-x);

  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  border: var(--disclosure-border);
  border-radius: var(--disclosure-border-radius);
  transition: var(--disclosure-animation);

  .header {
    display: flex;
    justify-content: space-between;
    gap: var(--space-1-x);
    align-items: center;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: var(--disclosure-header-font-size);
    inline-size: 100%;
    background-color: var(--disclosure-header-background-color);
    border: none;
    padding: var(--disclosure-padding);
    transition: inherit;
    cursor: pointer;
    color: var(--disclosure-header-color);
    position: relative;

    &:after {
      position: absolute;
      content: '';
      height: 1px;
      width: 100%;
      bottom: -1px;
      left: 0;
      background-color: var(--border);
    }

    &:hover {
      background-color: var(--disclosure-header-background-color--hover);
    }

    &:focus-visible {
      border-radius: var(--border-radius-1-x);
      outline: var(--focus-ring);
      outline-offset: var(--focus-offset-inside);
    }
  }

  .body {
    transition: inherit;
    overflow: hidden;
    font-family: var(--font-family);
    color: var(--disclosure-body-color);
    font-size: var(--disclosure-body-font-size);
  }

  .bodyContent {
    padding: var(--disclosure-padding);
  }

  &.noContainer {
    border: none;

    .disclosure__header {
      padding-inline: 0;
      padding-block: var(--space-1-x);

      &:hover {
        background-color: transparent;
      }
    }

    .bodyContent {
      padding-block: var(--space-1-x);
      padding-inline: 0;
    }
  }
}
