.button {
  /* ----- Tokens ----- */
  /* Base styles */
  --button-border-radius: var(--border-radius-1-x);
  --button-padding-block: var(--space-1-x);
  --button-padding-inline: var(--space-1-and-half-x);
  --button-font-size: var(--font-size-1-x);
  --button-animation: var(--animation-default);
  --button-font-weight: var(--font-weight-bold);

  /* Primary */
  --button-primary-background-color: var(--background-action);
  --button-primary-background-color--hover: var(--background-action--hover);
  --button-primary-color: var(--foreground-action-inverse);
  --button-primary-border-color: transparent;

  /* Secondary */
  --button-secondary-color: var(--foreground-action);
  --button-secondary-background-color: transparent;
  --button-secondary-background-color--hover: color-mix(
    in srgb,
    var(--background-action) 15%,
    transparent
  );
  --button-secondary-border-color: var(--background-action);

  /* Tertiary */
  --button-tertiary-color: var(--foreground-action);
  --button-tertiary-background-color: transparent;
  --button-tertiary-background-color--hover: color-mix(
    in srgb,
    var(--background-action) 15%,
    transparent
  );
  --button-tertiary-border-color: transparent;

  /* Sizes */
  --button-small-font-size: var(--font-size-three-quarter-x);
  --button-medium-font-size: var(--font-size-1-x);
  --button-large-font-size: var(--font-size-1-and-eighth-x);

  box-sizing: border-box;
  font-family: var(--font-family);
  font-weight: var(--button-font-weight);
  border: 2px solid;
  border-radius: var(--button-border-radius);
  /* padding-block: var(--button-padding-block); */
  padding-inline: var(--button-padding-inline);
  transition: var(--button-animation);
  cursor: pointer;
  display: inline-flex;
  gap: var(--space-1-x);
  align-items: center;
  justify-content: center;

  &:active {
    transform: scale(0.97);
  }

  &:focus-visible {
    outline: var(--focus-ring);
    outline-offset: var(--focus-offset-outside);
  }

  &.button--primary {
    background-color: var(--button-primary-background-color);
    color: var(--button-primary-color);
    border-color: var(--button-primary-border-color);

    &:hover {
      background-color: var(--button-primary-background-color--hover);
    }
  }

  &.button--secondary {
    background-color: transparent;
    border: 2px solid;
    border-color: var(--button-secondary-border-color);
    color: var(--button-secondary-color);

    &:hover {
      background-color: var(--button-secondary-background-color--hover);
    }
  }

  &.button--tertiary {
    background-color: transparent;
    border: 2px solid;
    border-color: var(--button-tertiary-border-color);
    color: var(--button-tertiary-color);

    &:hover {
      background-color: var(--button-tertiary-background-color--hover);
    }
  }

  &.button--small {
    font-size: var(--button-small-font-size);
    min-block-size: var(--element-height-small);
  }

  &.button--medium {
    font-size: var(--button-medium-font-size);
    min-block-size: var(--element-height-medium);
  }

  &.button--large {
    font-size: var(--button-large-font-size);
    min-block-size: var(--element-height-large);
  }

  &.button--icon-only {
    padding: 0;

    &.button--small {
      block-size: var(--element-height-small);
      inline-size: var(--element-height-small);
    }

    &.button--medium {
      block-size: var(--element-height-medium);
      inline-size: var(--element-height-medium);
    }

    &.button--large {
      block-size: var(--element-height-large);
      inline-size: var(--element-height-large);
    }
  }
}
