.disclosure {
  --disclosure-border-color: var(--border);
  --disclosure-body-color: var(--color-mode-foreground);
  --disclosure-header-color: var(--color-mode-foreground);
  --disclosure-header-background-color: transparent;
  --disclosure-header-background-color--hover: color-mix(
    in srgb,
    var(--color-mode-foreground) 10%,
    var(--color-mode-background)
  );
  --disclosure-animation: var(--animation-default);
  --disclosure-header-font-size: var(--font-size-1-and-eighth-x);
  --disclosure-body-font-size: var(--font-size-1-x);
  --disclosure-padding: var(--space-2-x);
  --disclosure-border-radius: var(--border-radius-1-x);

  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid var(--disclosure-border-color);
  border-radius: var(--disclosure-border-radius);
  transition: var(--disclosure-animation);

  .disclosure__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-family);
    font-weight: bold;
    font-size: var(--disclosure-header-font-size);
    inline-size: 100%;
    background-color: var(--disclosure-header-background-color);
    border: none;
    padding: var(--disclosure-padding);
    transition: inherit;
    cursor: pointer;
    color: var(--disclosure-header-color);

    &:hover {
      background-color: var(--disclosure-header-background-color--hover);
    }

    &:focus-visible {
      border-radius: var(--border-radius-1-x);
      outline: var(--focus-ring);
      outline-offset: var(--focus-offset-inside);
    }
  }

  .disclosure__body {
    transition: inherit;
    font-family: var(--font-family);
    color: var(--disclosure-body-color);
    font-size: var(--disclosure-body-font-size);
  }

  .disclosure__body-content {
    padding: var(--disclosure-padding);
  }
}
